<div class="container mt-5">
  <main class="oven-container">
    <p class="lead">時間管理を楽しく、簡単に。PizzaScheduleであなたのスケジュールを最適化しましょう。</p>
    <div class="d-flex justify-content-center mb-4">
      <%= image_tag "topSchedule.png", class: "img-fluid sample-schedule-image", style: "width: 50%; height: auto;", alt: "サンプルスケジュール" %>
    </div>
    <!-- <div class="text-center">
      <%= link_to '#', class: "btn-pizza" do %>
        <span>🔁</span>
      <% end %>
    </div> -->
  </main>
</div>